.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.scroll{
    overflow-y: auto !important;
    max-height: 650px !important;
}
.tag{
    display: inline-block;
    padding: 1px 6px;
    margin: 4px 0;
    background-color: #eee;
    border-radius: 2px;
    margin-right: 5px;
    font-size: 12px;
}

.btn{
  border-radius: 5px;
  border: 1px solid skyblue
}

.btn > a{
  text-decoration: none;
}

.fa-star{
  color: rgb(255, 169, 27) !important;
}


.box{
  margin-top: 10px !important;
}

.data-search-width{
  width: 10%
}

.margin-right{
  margin-left: 5px;
  margin-top: 2px;
}

