.scroll {
  overflow-y: auto !important;
  max-height: 650px !important;
}

.tag {
  display: inline-block;
  padding: 1px 6px;
  margin: 4px 0;
  background-color: #eee;
  border-radius: 2px;
  margin-right: 5px;
  font-size: 12px;
}

.btn {
  border-radius: 5px;
  border: 1px solid skyblue;
}

.btn > a {
  text-decoration: none;
}

.fa-star {
  color: rgb(255, 169, 27) !important;
}

.box {
  margin-top: 10px !important;
}

.data-search-width {
  width: 10%;
}

.links {
  margin-left: 10px;
  margin-top: 5px;
}

.link {
  margin-left: 5px;
}

.marginBottom {
  margin-bottom: 50px;
}

.dataSearch {
  margin-top: 10px;
}
