.scroll {
  overflow-y: auto !important;
  max-height: 650px !important;
}

.tag {
  display: inline-block;
  padding: 1px 6px;
  margin: 4px 0;
  background-color: #eee;
  border-radius: 2px;
  margin-right: 5px;
  font-size: 12px;
}

.btn {
  border-radius: 5px;
  border: 1px solid skyblue;
}

.btn > a {
  text-decoration: none;
}

.fa-star {
  color: rgb(255, 169, 27) !important;
}

.box {
  margin-top: 10px !important;
}

.data-search-width {
  width: 10%;
}

.links {
  margin-left: 10px;
  margin-top: 5px;
}

.link {
  margin-left: 5px;
}

.marginBottom {
  margin-bottom: 50px;
}

.dataSearch {
  margin-top: 10px;
  position: relative;
  z-index: 10000000;
}
.input-group {
  border: 1px solid #ccc;
}
.input-group input {
  border: none;
}

.input-addon {
  border-radius: 0 !important;
  border: none !important;
  background: transparent !important;
}
.input-addon {
  border-radius: 0 !important;
  border: none !important;
  background: transparent !important;
}
.focus-shortcut {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 0;
  box-shadow: inset 0px -2px 0px 1px #cdcde6, inset 0 0 1px 1px #fff,
    0 1px 2px 1px rgb(30 35 90 / 40%);
  color: #969faf;
  height: 24px;
  padding-bottom: 2px;
  position: relative;
  top: -1px;
  min-width: 24px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
  cursor: default;
  border: none;
  padding-bottom: 4px;
  background-color: transparent;
}
/* Responsive styling */
@media (max-width: 768px) {
  .input-addon {
    display: none !important;
  }
}
